<h1>
  Search
</h1>

<p>
  <%= form_tag '/search', method: :get do %>
    <%= search_field_tag 'q' %>
    <%= button_tag 'Search', name: '' %>
  <% end %>
</p>

<% unless @tags.blank? %>
<h3>
  Results
</h3>
<p>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag %>,
  <% end %>
</p>
<% end %>
