<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag.name %>
</p>
<p>
  <% Item.tagged_with( @tag.name ).each do |item| %>
    <%= render partial: 'items/item', locals: { item: item } %>
  <% end %>
</p>

<div style="clear: both;"></div>

<%= link_to 'Back', acts_as_taggable_on_tag_index_path %>
