<% if @items.present? %>

<% @items.each do |item| %>
<%= render partial: 'item', locals: { item: item } %>
<% end %>

<div style="clear: both;"></div>

<%= paginate @items %>

<% else %>

<p>
    You have not added any items yet.
</p>

<% end %>

<br>

<%= button_to 'Upload new file', new_item_path, method: :get %>
